html,
body {
  height: 100%;
  color: white;
}

.rec {
  background: linear-gradient(270deg, #d25353, #d1e17a);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;
}

.normal {
  background: linear-gradient(270deg, #8cbed1, #9fcc96);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 
 @-webkit-keyframes AnimationName {
     0%{background-position:33% 0%}
     50%{background-position:68% 100%}
     100%{background-position:33% 0%}
 }
 @-moz-keyframes AnimationName {
     0%{background-position:33% 0%}
     50%{background-position:68% 100%}
     100%{background-position:33% 0%}
 }
 @keyframes AnimationName {
     0%{background-position:33% 0%}
     50%{background-position:68% 100%}
     100%{background-position:33% 0%}
 }

 .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
 }
  
 .fade-in.one {
 -webkit-animation-delay: 0.0s;
 -moz-animation-delay: 0.0s;
 animation-delay: 0.0s;
 }
  
 .fade-in.two {
 -webkit-animation-delay: 0.5s;
 -moz-animation-delay: 0.5s;
 animation-delay: 0.5s;
 }
 
 .fade-in.three {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay:1.0s;
  animation-delay: 1.0s;
  } 

.fade-in.four {
  -webkit-animation-delay: 2.0s;
  -moz-animation-delay:2.0s;
  animation-delay: 2.0s;
  } 